body {
  font: 500 .9rem/1 'Avenir Next', sans-serif;
  color: #333;
  background: rgb(255,255,255);
}
p, span, h1, h2, h3, h4, h5, h6 {
  color: #222;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

/* Flex For Sidebar and Content Area */
.wrapper {
  display: flex;
  overflow-x: hidden;
}

.wrapper aside {
  position: absolute;
  width: 150px;
}
.wrapper main {
  flex: 1;
  min-height: 100vh; /* so main always takes up at least the view height */
  background: #fff;
  box-shadow: 0 0 5px #000;
  transform: translateX(0);
  transition: transform .3s;
}
.wrapper.sm.closed main, 
.wrapper.md.closed main, 
.wrapper.md.open main {
  transform: translateX(0px);
}
.wrapper.sm.open main {
  transform: translateX(150px);
}

main {
  flex-direction: column;
}
main header {
  background-color: #FFF;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 1em;
}
main section {
  background-color: #F8F9FA;
  color: #222;
  padding: 1em;
}

.wrapper.sm .topnav li.menu { display: auto; }
.wrapper.md .topnav li.menu { display: none; }

.wrapper.sm .topnav li.link { display: none; }
.wrapper.md .topnav li.link { display: auto; }

/* Utility Styles */
.main-content {
  font-family: inherit;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* What we normally do */
.main-content h2 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  color: inherit;
}
/* What we do at medium and up */
@media (min-width: 600px) {
  .main-content h2 {
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2;
  }
}

h3.title {
  font-size: 2.5em;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 1.25em;
}
h3.title:before{
  content: "";
  position: absolute;
  left: 40%; width: 20%;
  bottom: -0.5em; height: 2px;
  border-bottom: 2px solid #ea0058;
}

.text-center {
  text-align: center !important;
}

button {
  cursor: pointer;
  margin-right: 0.25em;
  padding: 0.625em;
  border: none;
  border-radius: 4px;
  background-color: rgba(83, 210, 250, 0.9); /* #53d2fa */
  color: rgb(8, 44, 54);
}
button:hover {
  background-color: rgba(83, 210, 250, 0.5); /* #53d2fa */
  color: rgb(8, 44, 54); /* #082c36 */
}

.hoverable {
  cursor: pointer; cursor: hand;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  opacity: 1;
}
.hoverable:hover {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  opacity: 0.5;
}