body {
  background-color: #1B2634;
  font-family: Lato;
  color: rgb(151, 243, 255, 0.9);
}
h1, p {
  font-family: Lato;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

.nav {
  display: flex;
}
.nav > li {
  margin-right: 15px; 
}
.nav > li > a {
  color: rgb(151, 243, 255, 0.9);
}
.active {
  font-weight: bold;
}